// font sizes
$fs-default: 1.6rem;
$fs-heading-large: 5rem;
$fs-heading-medium: 2.75rem;
$fs-heading-small: 1.75rem;
$fs-link: 1.5rem;
$fs-para: 1.25rem;

// font-family
$font-roboto: 'Roboto', sans-serif;
$font-openSans: 'Open Sans', sans-serif;

// roboto font weights
$roboto-l-w: 300;
$roboto-n-w: 400;
$roboto-h-w: 700;
$roboto-xh-w: 900;

// openSans font weights
$openSans-l-w: 300;
$openSans-n-w: 400;
$openSans-h-w: 700;
$openSans-xh-w: 800;
