// apply display flex props
@mixin flex(
  $align: null,
  $justify: null,
  $gap: null,
  $direction: null,
  $wrap: null
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
  gap: $gap;
}

// position element center
@mixin position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
