// apply display flex on elements
@mixin flex(
  $direction: null,
  $wrap: null,
  $gap: null,
  $alignContent: null,
  $alignItems: null,
  $justifyContent: null,
  $justifyItems: null,
  $placeContent: null,
  $placeItems: null
) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  flex-wrap: $wrap;
  @if $placeContent == null {
    @if $alignContent {
      align-content: $alignContent;
    }
    @if $justifyContent {
      justify-content: $justifyContent;
    }
  } @else {
    place-content: $placeContent;
  }

  @if $placeItems == null {
    @if $alignItems {
      align-items: $alignItems;
    }
    @if $justifyItems {
      justify-items: $justifyItems;
    }
  } @else {
    place-items: $placeItems;
  }
}

// position element center
@mixin position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Query Manager
/*
Mobile first approach
[0 - 768px]    : where our normal styles get applied
768px - 1050px  : Tablet-port
1050px - 1400px : Tablet-land
1400px - 1800px : Desktop
1800px - ...px  : Big-desktop
*/

// $breakpoints :-
$tablet-port: 768px;
$tablet-land: 1200px;
$desktop: 1400px;
$big-desktop: 1800px;

@mixin media-size($breakpoint, $width: min-width) {
  @media only screen and ($width: (calc($breakpoint / 16px) * 1em)) {
    @content;
  }
}
