@use '../abstracts' as *;

// Section About
.about {
  background-color: $off-white;
  padding: 18rem 0 18rem 0;
  margin-top: -20vh;

  &__container {
    @include media-size($tablet-land) {
      @include flex($placeItems: center, $gap: 5rem, $wrap: nowrap);
    }
    @include flex($justifyContent: center, $gap: 5rem, $wrap: wrap);
  }

  &__content {
    @include flex($gap: 5rem, $wrap: wrap);
    max-width: 70rem;
  }
  .aside {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

// Section Features
.features {
  margin-top: -10vh;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($light-blue, 0.5),
      rgba($dark-green, 0.8)
    ),
    url('../../assets/images/nat-4-small.jpg');
  clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 95%);
  background-position: top;
  background-size: cover;

  @media (min-resolution: 192dpi) and (min-width: $tablet-port),
    (min-width: $desktop) {
    background-image: linear-gradient(
        to right bottom,
        rgba($light-blue, 0.5),
        rgba($dark-green, 0.8)
      ),
      url('../../assets/images/nat-4.jpg');
  }

  &__content {
    @include flex($justifyContent: space-around, $gap: 3rem, $wrap: wrap);
  }

  & .col:not(:last-child) {
    margin-bottom: 6rem;
  }
}

// Section Tours
.tours {
  background-color: $off-white;
  padding: 15rem 0;
  margin-top: -10vh;
}

// Section Stories
.stories {
  position: relative;
  padding: 10rem 0;
}

// Section Registration
.registration {
  padding: 6rem 0;
  background-image: linear-gradient(
    to right,
    rgba($dark-green, 1),
    rgba($light-blue, 1)
  );
}

.booking {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  width: min(100% - 5rem, 80rem);
  // min-height: 25rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
  background-image: url('../../assets/images/nat-10.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: $box-shadow;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($white, 0.75);
    clip-path: polygon(0 0, 65% 0, 45% 100%, 0 100%);
    z-index: -1;
  }
}
