@use '../abstracts' as *;

.footer {
  background-color: $dark-gray;
  padding: 6rem 1rem;

  .heading-second {
    background-image: linear-gradient(
      to right,
      rgba($light-green, 1),
      rgba($light-blue, 1)
    );
  }

  // Logo
  &__logo-img {
    height: 10rem;
    text-align: center;
  }
  // Nav
  &__navigation {
    border-top: 1px solid $light-gray;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }

  &__list {
    @include flex(center, center, 1rem, row, wrap);
  }

  &__item {
    font-size: $fs-link;
  }

  &__link {
    text-transform: capitalize;
    color: $off-white;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 3px;
    transition: all 0.2s;

    &:hover,
    &:active {
      box-shadow: $box-shadow;
      transform: translateY(-0.2rem) rotate(5deg);
      color: $medium-green;
    }
  }

  &__copyright {
    border-top: 1px solid $light-gray;
    padding-top: 1rem;
    text-align: center;
  }

  .col {
    margin-top: 4rem;
  }
}
